[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.4.1"
black = "==21.12b0"
click = "==8.0.3"
colorama = "==0.4.4"
django = "==4.0.1"
mypy-extensions = "==0.4.3"
pathspec = "==0.9.0"
platformdirs = "==2.4.1"
sqlparse = "==0.4.2"
tomli = "==1.2.3"
typing-extensions = "==4.0.1"
tzdata = "==2021.5"

[dev-packages]

[requires]
python_version = "3.10"
