{% extends 'base.html' %} {% load static %} {% block content %}
<h1 class="text-center">
  Blog Posts
</h1>
<div class="row d-flex justify-content-center">
  <div class="col-12 col-md-5 col-lg-6 justify-content-center">
    {% for blog in blogs %}
    <p class="shadow p-3 text-dark">
      User: {{blog.user.username}} <strong>Title: </strong>{{blog.title}} | {{blog.date_created}}
      <br />
      <br /><strong>" {{blog.body}} "</strong>
      <br>
    <div>
      <button class="btn">Delete</button>
      <button class="btn">Edit</button>
    </div>
    </p>
    {% endfor %}
  </div>
</div>
{% endblock content %}